<h1>New Student Page</h1>

<% if flash[:errors] %> 
    <% flash[:errors].each do |error| %>
    <%= error %><br>
    <% end %>
    <% end %>

<%= form_for @student do |f| %>
<%= f.label :name, "Name:" %>
<%= f.text_field :name %>
<p> Module: <%= f.text_field :mod %><p>
<%= f.submit "Click me to party!"%>
<% end %>