<h1>New Student Form</h1>
<% if flash[:errors] %>
<div><h5>These errors prevented new student</h5>
<ul>
<% flash[:errors].each do |error| %>
        <li><%= error %></li>
    <% end %>
<% end %>
</ul>
</div>
    

<%= form_for @student do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :mod %> <br>
    <%= f.text_field :mod %> <br>
    <%= f.submit "Add Student"%>
<% end  %>